<web-app>
  <servlet>
		<servlet-name>authoriseUser</servlet-name>
		<servlet-class>AuthoriseUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authoriseUser</servlet-name>
		<url-pattern>/authoriseUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>callback</servlet-name>
		<servlet-class>RespHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>callback</servlet-name>
		<url-pattern>/callback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getAccessToken</servlet-name>
		<servlet-class>GetAccessToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAccessToken</servlet-name>
		<url-pattern>/getAccessToken</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getMailId</servlet-name>
		<servlet-class>GetMailId</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getMailId</servlet-name>
		<url-pattern>/getMailId</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getMail</servlet-name>
		<servlet-class>GetMail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getMail</servlet-name>
		<url-pattern>/getMail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>requestAccessToken</servlet-name>
		<servlet-class>RequestAccessToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>requestAccessToken</servlet-name>
		<url-pattern>/requestAccessToken</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchMail</servlet-name>
		<servlet-class>SearchMail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchMail</servlet-name>
		<url-pattern>/searchMail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>markAllAsRead</servlet-name>
		<servlet-class>MarkAllAsRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>markAllAsRead</servlet-name>
		<url-pattern>/markAllAsRead</url-pattern>
	</servlet-mapping>
</web-app>